
.order-card {
  position: relative;
  background: #ffffff;
  border-radius: .3rem;
  padding: 1rem;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100% ;
}

.order-card:hover {
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.1rem;
}

.order-header .title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.delete-btn {
  background: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 999px;
  width: 28px;
  height: 28px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.order-card:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1.25);
}

.options {
  list-style: none;
  font-size: 0.75rem;
  color: #64748b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.3rem 0.25rem;
}

.options li {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  }

.options div:last-child, div:nth-last-child(2), .options>.add-ons.li:last-child {
  grid-column: 1 / -1;
}

.options span:first-child {
  font-weight: bold;
  color: #334155;
}


.add-ons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
}

.order-card-empty{
  position: relative;
  background: #ffffff87;
  color: #64748b;
  border-radius: .3rem;
  padding: 1rem;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.order-card-empty span{
  font-size: 2rem;
  font-weight: bold;
  color: #334155;
}
