---
import Layout from '@/layouts/Layout.astro';
import RelatedProducts from '@/sections/RelatedProducts.astro';
import { EXPLORE } from '@/consts/explore';
---

<Layout
  title="Order"
  description="Review your Earth Mama's Kitchen preorder enquiry"
  showStickyOrderButton={false}
>
  <template id="orderRelatedProductsTemplate">
    <RelatedProducts selection={EXPLORE} />
  </template>
  <div id="orderRoot"></div>
</Layout>

<script>
  import '@/browser/order-form.js';
</script>
