---
import InstagramIcon from "../assets/instagram.svg";
import FacebookIcon from "../assets/facebook.svg";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Order" description="Place your order with Earth Mama's Kitchen">
    

<section
    class="flex flex-col items-center pt-20 rounded-b-4xl rounded-t-2xl transform -translate-y-15 min-h-screen bg-gradient-to-b from-[#1E3A8A] to-[#1E40AF] text-white p-4 mt-15"
>
    <div class="flex gap-1 p-2 bg-amber-50 rounded-full shadow-lg">
        <a
            href="https://www.instagram.com/earthmamaskitchen"
            target="_blank"
            rel="noopener noreferrer"
            class="p-2 rounded-full text-white hover:text-gray-300 bg-amber-500 transition duration-300"
        >
            <InstagramIcon class="size-5" />
        </a>
        <a
            href="https://www.facebook.com/profile.php?id=100067897911008"
            target="_blank"
            class="p-2 rounded-full  text-white hover:text-gray-300 bg-amber-500 transition duration-300"
        >
            <FacebookIcon class="size-5" />
        </a>
    </div>
    <div class="flex flex-row items-center justify-center max-w-4/5 p-4 mb-4">
        <img src="favicon.png"
            alt="Earth mama's kitchen"
            class="size-20">
        <h2 class="text-3xl font-bold ">Earth mama`s Kitchen</h2>
    </div>
    <h3 class="font-merienda text-3xl">Bake like you mean it.</h3>
    <section class="flex flex-col items-center ">
        <h1 class="text-2xl">Carrito</h1>
            <div id="cartRoot">Empty</div>
        <button id="clearBtn" type="reset" class="">Vaciar carrito</button>
    </section>
    <form class="w-full">
        <div class="flex flex-col gap-2 p-4 rounded-lg shadow-lg w-full max-w-md">
            <input
                type="text"
                placeholder="Your Name"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            />
            <input type="number" placeholder="Your Phone Number" class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500" />
            <input
                type="email"
                placeholder="Your Email"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            />
            <button
                type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300"
            >
                Send Message
            </button>
        </div>
    </form>
</section>
</Layout>

<script type="module">
    import { clearCart } from '/js/cart.js';


    document.getElementById('clearBtn').addEventListener('click', () => {
        console.log('Clearing cart');
        clearCart();
      window.location.reload();
    });

</script>


