---
import InstagramIcon from "../assets/instagram.svg";
import FacebookIcon from "../assets/facebook.svg";
import Layout from "../layouts/Layout.astro";
import '../styles/cart.css';
import RelatedProducts from "../sections/RelatedProducts.astro";
import { EXPLORE } from "../consts/explore";

---


<Layout title="Order" description="Place your order with Earth Mama's Kitchen">
    <section class="w-full flex flex-col items-center "> <!--  bg-gradient-to-b from-[#1E3A8A] to-[#1E40AF]-->
        <div class="flex justify-center pt-20">
            <div class="flex gap-1 p-2 bg-amber-50 rounded-full shadow-lg">
                <a
                    href="https://www.instagram.com/earthmamaskitchen"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="p-2 rounded-full text-white hover:text-gray-300 bg-amber-500 transition duration-300"
                >
                    <InstagramIcon class="size-5" />
                </a>
                <a
                    href="https://www.facebook.com/profile.php?id=100067897911008"
                    target="_blank"
                    class="p-2 rounded-full  text-white hover:text-gray-300 bg-amber-500 transition duration-300"
                >
                    <FacebookIcon class="size-5" />
                </a>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center p-4 mb-4 gap-1">
            <h2 class="text-3xl font-bold ">Earth mama`s Kitchen</h2>
            <h3 class="font-merienda text-3xl">Bake like you mean it.</h3>
        </div>
    </section>
    <section id="cart-resumen" class="w-full p-3 mb-5">
        <div class="flex flex-col items-start w-full bg-white p-4 shadow-lg">
            <div class="flex flex-col items-start w-full">
                <h1 class="text-3xl text-black font-medium ">Summary</h1>
                <button id="clearBtn" type="reset" class="text-xs font-medium cursor-pointer text-blue-500 hover:text-indigo-700 hover:underline rounded-2xl h-max">Delete all items</button>    
            </div>
            <div id="cartRoot" class="flex flex-col w-full gap-2 mt-2">
            </div>
        </div>
    </section>
    <RelatedProducts selection={EXPLORE}  />

<section
    class="flex flex-col items-center rounded-4xl transform -translate-y-10 bg-gradient-to-b from-[#1E3A8A] to-[#1E40AF] text-white p-4"
>
    <img src="/favicon.png" alt="Earth mama's kitchen" class="size-30 p-2 m-2 rounded-full border-4 border-[#78698C] bg-white/10">
    <h2 class="text-2xl font-bold mb-2">Confirm Your Order</h2>
    <p class="mb-4 text-center">Complete the order providing your name and phone number. An email with all the details will be sent. We will contact you as soon as possible.</p>
    <form id="contactForm" class="w-full p-2 flex flex-col gap-2">
        <input  required type="text" name="name" maxlength="20" 
                placeholder="Type your name here"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"/>
        <input  required  type="tel" name="phone" maxlength="10" 
               placeholder="e.g.: 0412345678 o 0212345678" 
               class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"/>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Send Email</button> 
    </form>
    </section>
</Layout>

<script type="module">

</script>


