---
import { CAKES } from "../consts/cakes.ts";
---

<script>
  import EmblaCarousel from "embla-carousel";

  const emblaNode = document.querySelector(".embla");
  const options = { loop: false };
  const emblaApi = EmblaCarousel(emblaNode as any, options);

  // console.log(emblaApi.slideNodes()); // Access API
</script>

<div class="embla overflow-hidden w-full">
  <div class="embla__container flex">
    {
      CAKES.map(({ id, name, description, props }) => (
        <div class="embla__slide w-max mx-2 flex-none">
          <div style={{ height: `${parseInt(props.h)+100}px` }}
          class="card my-4 flex flex-col relative min-w-[250px] w-2xs overflow-hidden  text-center items-center justify-end">
            <div style={{ height: `${props.h}px` }}
              class="pb-4 w-full border-4 border-gray-300 rounded-2xl bg-red-200 flex flex-col justify-end items-center">
              <div class="relative h-full w-[80%] hover:w-full hover:m-0 rounded-2xl bg-red-300 mt-6 flex justify-center transition-all ease-in-out duration-1000 group">
                <img style={{ padding: `${props.padding ?? 0}` }}
                  class="img absolute w-full h-max scale-110 -top-0 group-hover:-top-24 transition-all ease-in-out duration-1000"
                  src={`/images/cakes/${id}.webp`}
                  alt="Mushroom Log Cake"
                />
              </div>
              <div class="card-content p-4 h-max w-auto bg-red-100 mx-5 z-10">
                <h2 class="text-2xl text-amber-950 font-semibold mb-2.5">
                  {name}
                </h2>
                <p class="text-[14px] l">
                  {description}
                </p>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
