<a href="/order"
  style="background-color: var(--violeta-medio);"
  class="fixed right-0 top-3/4 translate-x-6 z-50 text-white font-semibold 
    px-5 pt-1 pb-7 rounded-2xl text-lg transform -rotate-90 origin-bottom-right select-none"
  aria-label="Order Now"
>
  Order Now
</a>
<style>
  @media (min-width: 640px) {
    a {
      display: none;
    }
  }
</style>