---
import { Image } from "astro:assets";
import logo from "../assets/images/favicon.png";
---

<section
    class="flex flex-col p-6 pt-32 justify-center items-center text-center text-black min-h-screen rounded-b-[4rem] "
>
    <h1 class="text-4xl lg:text-5xl font-calistoga ">
        Hi, I’m Silvia behind Earth Mama’s Kitchen
    </h1>

    <p class="text-xl md:text-2xl mt-6 max-w-3xl">
        What started as a small passion in my kitchen slowly became something
        much more meaningful. I discovered that baking wasn’t just about
        desserts — it was about creating something beautiful with my hands.
        <br /><br />

        Every cupcake bouquet is carefully piped by hand, inspired by real
        flowers and made with patience, creativity, and love. My goal is to turn
        simple ingredients into edible art that can brighten someone’s day and
        make special moments even sweeter.
        <br /><br />

        <strong
            >For me, baking isn’t just food — it’s a way of sharing joy.</strong
        >
    </p>
    <figure class="mt-10 flex justify-center">
        <Image
            src={logo}
            alt="Earth Mama Kitchen logo"
            width={250}
            class="w-64 "
        />
    </figure>
</section>

<!-- TODO: Ask about the information to display here -->
