---
import { Image } from "astro:assets";
import logo from "../assets/images/favicon.png";
---

<section
    class="flex flex-col px-6 justify-center items-center text-center text-black min-h-screen bg-white rounded-b-[4rem]"
>
    <h1 class="text-5xl md:text-6xl lg:text-7xl font-calistoga lg:mt-20">
        Earth Mama Kitchen
    </h1>
    <p class="text-xl md:text-2xl mt-6 max-w-3xl">
        Specialising in Floral Cupcake Bouquets and Bespoke Cakes, Scratch
        Baking. Edible blooms and Art for Any occasion
        <br />
        <strong>Bake Like you mean it!</strong>
    </p>
    <figure class="mt-10 flex justify-center">
        <Image
            src={logo}
            alt="Earth Mama Kitchen logo"
            width={250}
            class="w-64 md:w-80"
        />
    </figure>
</section>

<!-- TODO: Ask about the information to display here -->
