---
import Carrousel from "../components/carrousel.astro"
---
<section class="flex flex-col justify-center items-center py-4">
    <h2 class="p-3 text-5xl font-dancing font-bold text-black">Cakes with Love</h2>
    <Carrousel/>
</section>