---
import Carrousel from "../components/carrousel.astro"
---
<section class="flex flex-col p-4 pb-12 -mt-5 justify-center items-center bg-white rounded-t-4xl transform ">
    <h2 class="text-4xl p-5 text-center text-black font-bold">You Might Also Like</h2>
     <p class="text-center text-sm italic text-violet-700 -mb-20 "> ✨ Crafted with Love & Nature ✨  </p>
    <Carrousel/>
</section>