---
import InstagramIcon from '../assets/instagram.svg';
import GitHubIcon from '../assets/github.svg';
import LinkedinIcon from '../assets/linkedin.svg';
---

<footer class="relative w-full h-[200px]">
    <div class="absolute inset-0 bg-cover bg-bottom bg-[url('/images/footer.webp')]
    mask-fade-top"> 
    </div>
    <div class="relative h-full flex flex-col justify-center items-end text-white font-bold p-7 font-calistoga">
        <div class="footer-content">
            <p>© 2025 - All rights reserved by Kelvin Carreno</p>
        </div>
        <div class="flex gap-4 mt-2">
            <a href="https://github.com/KelvinJoelC/earth-mamas-kitchen" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-300 transition duration-300">
                <GitHubIcon class="size-8 "/>
            </a>
            <a href="https://www.linkedin.com/in/kcarrenoespin" target="_blank" class="text-white hover:text-gray-300 transition duration-300">
                <LinkedinIcon class="size-8"/>
            </a>
        </div>
    </div>
</footer>