<section class="flex flex-col pt-30 p-4 justify-center items-center text-center text-white">
    <h1 class="text-5xl mx-2 px-8 font-calistoga">Earth Mama Kitchen</h1>
    <p class="text-xl text-center m-10 ">
        Specialising in Floral Cupcake Bouquets and Bespoke Cakes, Scratch Baking. Edible blooms and Art for Any occasion <br>
        <strong>Bake Like you mean it!</strong> 
    </p>
    <figure class="relative w-full h-[40vh] flex  justify-center">
      <img class="absolute w-[60%] bottom-auto" src="/favicon.png" alt="Earth mamas icon" >
   </figure>
</section>